/* Styling elements
Main green: #59B175
Main white: rgb(243, 243, 243);
Main black: #434343
*/
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  min-height: 100vh;
}

p{
  font-family: 'Karla', sans-serif;
  color: #434343;
}

ul{
  list-style: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61fb8d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Signup Icons */
.btn-text {
  margin-left: 5px;
}

.google-icon,
.facebook-icon {
  width: 30px;
  height: 30px;
}


.signup-provider{
  cursor: pointer;
}

.google-btn{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.mb-2 {
  margin-top: 0.5rem;
}

/* Loading Indicator */

  /*_Navbar_________________________________*/
.log-sign-logo {
  padding: 0.5rem 3rem 0.5rem 3rem;
}

.log-sign-nav{
  display: flex;
}

.log-nav{
  display: flex;
  align-items: center;
  margin: 0 3.2rem 0 3rem;
}

.log-nav a{
  color: #59B175;
  text-decoration: none;
}

.log-nav a:hover{
  color: #428156;
  text-decoration: none;
}

.nav {
  justify-content: space-between;
  margin-top: 0.2rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  align-items: center;
}

.nav-search{
  width: 60vw;
  align-content: center;
  display: flex;
  align-items: center;
}

.custom-display {
  display: inline-block;
}

.custom-width{
  width: 50vw;
}

.nav-search form input{
  width: 50vw;
}

.nav-search form button{
  border: none;
  cursor:unset !important;
}

.btn-outline-dark:hover{
  background-color: transparent !important;
  color: transparent !important;
  border-color: transparent !important;
  cursor:unset !important;
}

.nav-user-container{
  display: flex;
  align-items: center;
}

.nav-usr-img{
  border-radius: 10rem;
  width: 2.5rem; /* width of container */
  height: 2.5rem; /* height of container */
  object-fit: cover;
}

.nav-right{
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.logout{
  border-style: none;
  background-color: transparent;
}

.nav-search-input{
  border-radius: 5rem !important;
  border: 1px solid #59B175 !important;
}

#nav-dropdown{

  color: #434343;
  text-emphasis-style: bold;
  font-weight: bolder;
}

.h8 {

  color: #59B175 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: white !important;
}
  
/* Search Dropdown */

.btn-sm {

  background-color: #428156 !important;
  border-color: #428156 !important;
}

/*__Landing_______________________________*/

.lading-image {
    background: url("../src/landing-image.png");
    height: 85vh;
    background-size:cover;
    margin: 0 !important;
    padding: 0 !important;
}

.lading-image div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 4rem;
}

.lading-image h1{
  color: #59B175;
  font-size: 5.5rem;
  text-align: start;
  padding-bottom: 0;
}

.lading-image p{
  text-align: start;
  color: rgb(243, 243, 243);
  font-size: 1.2rem;
  margin-bottom: 0;
  padding-right: 9rem;
}

.lading-image a{
  text-align: start;
  color: #59B175;
  font-size: 1.2rem;
}

.land-img-sign {
  margin-top: 2rem;
}

/* Sec2 */

.land-sec-2 {
  background: url("../src/bg_iconfoods.png");
  height: 60vh;
  background-size:cover;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.land-sec-2 h2{
  font-size: 3rem;
  color: #59B175;
  padding-top: 10vh;
}

.land-sec-2 p{
  font-size: 1.4rem;
  padding:1rem 5rem 2.5rem 5rem;
  color: #434343;
}

/* Sec3 */

.dummy-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 7rem 3rem 1.5rem 3rem;
}

.dummy-user h3{
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.dummy-user img{
  border-radius: 10rem;
  width: 2rem; /* width of container */
  height: 2rem; /* height of container */
  object-fit: cover;
} 

.dummy-user span{
  border-radius: 10rem;
  width: 2rem; /* width of container */
  height: 2rem; /* height of container */
}

.land-sec-3{
  display: flex;
  flex-direction: column;
}

.dummy-user-goods{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dummy-user-goods span{
  display: flex;
}

.dummy-user-goods-item{
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
}

.dummy-user-goods-item span{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dummy-user-goods-item h5{
  padding: 0.2rem 0 0.2rem 1rem;
  margin: 0;
  font-weight: 400;
}

.dummy-user-goods-item p{
  padding: 0.2rem 1rem 0.2rem 0;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.dummy-user-goods-img {
  width: 18rem;
  height: 12rem;
  background-size:cover;
  background-position: 100% 100%;
}

.dummy-user-img1 {
  background-image: url("/src/potatos.jpeg");
}

.dummy-user-img2 {
  background-image: url("/src/tomatos.jpeg");
}

.dummy-user-img3 {
  background-image: url("/src/carrots.jpg");
}

.dummy-user-img4 {
  background-image: url("/src/strawberries.jpg");
}

.row-land-sec-3 {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* Sec4 */
.land-sec-4 {
  display: flex;
  padding: 6rem 0 6rem 0;
}

.land-sec-4-img {
  width: 34rem;
  height: 30rem;
  background-image: url("/src/alice_truman.jpg");
  background-size:cover;
  background-position: 50% 100%;
}

.land-sec-4-content{
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding-left: 3rem;
  padding-top: 1.5rem;
}
.land-sec-4-content h3{
  font-size: 4rem;
  font-weight: 400;
  color: #434343;
  font-family: 'Karla', sans-serif;
  margin: 0;
}

.land-sec-4-content h4{
  font-size: 2rem;
  font-weight: 400;
  color: #59B175;
  font-family: 'Karla', sans-serif;
  margin-bottom: 2.5rem;
}

.land-sec-4-content p{
  font-size: 1.7rem;
  width: 35vw;
}

.land-sec-4-content a{
  font-size: 1.2rem;
  color: #59B175;
}

.land-sec-4-content a:hover{
  color: #428156;
  text-decoration: none;
}

.row-land-sec-4{
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #59b17531;
}

/* Sec5 */

.land-sec-5{
  display: flex;
  flex-direction: row;
  margin: 6rem !important;
  justify-content: space-between;
}

.land-sec-text{
  text-align: start;
  width: 55vw;
}

.land-sec-text h2{
  font-size: 3.7rem;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: #434343;
}

.land-sec-text p{
  margin-top: 1.5rem;
  font-size: 1.3rem;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: #434343;
}

.land-sec-text h2 strong{
  color: #59B175;
  font-weight: 600;
}

.land-sec-5-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*________________________________________*/

/*_SignUp provider________________________*/
.signup-provider a{
  color: #858585;
  text-decoration: none;
  font-weight: 600;
}

.signup-provider a:hover{
  color: #434343;
}

.signup-provider span{
  margin-left: 1.5rem;
}
/*________________________________________*/

/*_SignUp_________________________________*/
.signup-user{
  display: flex;
}

.signup-user-left-container{
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 5rem 6rem 5rem 6rem;
}

.signup-user-left-container h2{
  color: #59B175;
  font-size: 4rem;
  width: 25vw;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  padding-bottom: 2rem;
  line-height: 3.7rem;
}

.signup-user-form {
  display: flex;
  flex-direction: column;
}

.signup-user-input {
  width: 100%;
  border-radius: 0.3rem;
  border-style: solid;
  border: 1px solid #59B175;
}

.signup-user-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup-user-box label{
  color:#59B175;
}

.signup-user-toggle{
  display:flex;
  align-items: center;
  padding-bottom: 1rem;
}

.signup-user-toggle .toggle{
  color:#59B175;
  font-size: 1.5rem;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

.signup-user-buttons{
  display:flex;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 3.5rem;
  justify-content: space-between;
}

.signup-user-buttons button{
  border-radius: 0.2rem;
  width: 10rem;
}

.signup-user-buttons .signup-provider{
  margin-right: 5rem;
}

.signup-user-right-container{
  width: 100%;
  min-height: 100%;
  background-image: url("/src/bg_iconfoods_green.png");
  background-size:cover;
  background-position: 50% 100%;
}

.r-farm-h2{
  width: 30vw !important;
}

.r-farm{
  background-color: #59b17536;
}

.r-farm-buttons{
  padding-top: 2rem;
}

/*________________________________________*/

/*_LogIn__________________________________*/

.login-container{
  background-color: #59b17536;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.login-container form{
  display: flex;
  flex-direction: column;
  width: 35vw;
  text-align: start;
  margin-top: 25vh;
}

.login-container form label{
  color:#59B175;
}

.login-container form p{
  margin-top: 0.5rem;
}

.login-container form span a{
  margin-right: 1rem;
  margin-left: 3rem;
  padding-bottom: 0;
}

.login-container form span{
  display: flex;
  align-items: center;
  width: 100%;
}

.login-container form span button{
  width: 7rem;
}

.login-container form h2{
  color: #59B175;
  font-size: 4rem;
  width: 25vw;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  padding-bottom: 1rem;
  line-height: 3.7rem;
}

/*________________________________________*/

/*Products_list_______*/
.products-list-main{
  display: flex;
  margin: 3rem 4rem 3rem 4rem;
}

.products-list-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: start;
  padding-left: 5vw;
  padding-right: 5vw;
}

.products-list-filters{
  display: flex;
  flex-direction: column;
  text-align: start;
  min-width: 12rem;
}

.products-list-filters h4{
  font-size: 1.3rem;
  font-family: 'Karla', sans-serif;
  color: #59B175;
  margin-left: 0.3rem;
}

.form-check-label{
  color: #59B175;
  margin-left: 0.5rem;
}

.form-check-input{
  border-color: #59B175 !important;
  margin-left: 0.3rem;
}

.products-list-filter-farm{
  border: 1px solid #59B175 !important;
  border-radius: 5rem;
  padding-left: 0.8rem;
  margin-top: 1rem;
}

.product-card-img{
  width: 20rem; /* width of container */
  height: 10rem; /* height of container */
  object-fit: cover;
  animation: all 1s ease-in;
}

.products-list-farmname{
  border-radius: 10rem;
  width: 2.5rem; /* width of container */
  height: 2.5rem; /* height of container */
  object-fit: cover;
}

.products-list-farmercard{
  display: flex;
}

.products-list-farmercard h1{
  font-size: 2rem;
  padding-left: 1rem;
}

.product-card-text{
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.product-card-text span{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-card-text span h5{
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;

}

.product-card-text p{
  font-size: 2rem;
  font-weight: 600;
}

.product-card-text a{
  font-size: 0.8rem;
  color: #858585;
}

.product-card-text a:hover{
  color: #434343;
}

.products-list-row{
  border-bottom: 1px solid #59B175;
  padding: 2rem 0 1rem 0;
}
/* Footer */


footer{

  color: #428156 !important;
	padding:40px !important;
  border-top: 1px solid #59B175 !important;
  border-top-width: 50px;
  

}

.row1-footer {
 display:flex;
 justify-content: space-between !important ;
 color: #428156 !important;
 align-items: center;


}

.P__Footer{
  display:flex;
  justify-content: space-between !important ;
  color: #428156 !important;
  margin: 0;
  width: 8rem;
}



.marginTopFooter{
	margin-top:90px;
}

.plugs {
  color:#428156
}

.plugs, .copyright {
  font-size: 0.8rem;
}


/*________________________________________*/
/* _Cart_______________________________*/

.cart-page {
  width: 100vw;
  height: 80vh;
}

.cart-page h2 {
  margin-top: 2rem;
  color: #59B175;
  text-decoration: underline;
}

.cart-box {
  margin: auto;
  width: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cart-quantity-buttons {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cart-quantity-button {
  border-radius: 0.2rem;
  width: 2rem;
  border: 1px solid #59B175;
  background-color: transparent;
  color: #59B175;
  padding-bottom: 0.3rem;
}

.cart-quantity-button:hover {
  background-color: #59B175;
  color: #fff;
}

.cart-remove-button {
  border-radius: 0.2rem;
  width: 5rem;
  border: none;
  padding: 0.3rem 0 0.3rem 0;
  background-color: #428156;
  color: #fff;
  transition: background-color 100ms ease-in;
}

.cart-remove-button:hover {
  background-color: #a73333;
}

.cart-buttons-box {
  width: 12rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

}

.cart-products-box {
  width: 60vw;
  height: 6rem;
  margin-top: 0.6rem;
  padding: 0 4rem 0 4rem;
  border: 1px solid #59B175;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.cart-product-info {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.cart-product-info h4 {
  color: #59B175;
}

.cart-checkout-button {
  border-radius: 0.2rem;
  width: 6rem;
  color: #fff;
  background-color: #59B175;
  text-decoration: none;
  padding: 0.6rem;
  border: none;
}

.cart-checkout-button:hover {
  background-color: #fff;
  color: #59B175;
  border: 1px solid #59B175;
}


/*________________________________________*/
/* _CheckOut_______________________________*/

.checkout-page {
  width: 100vw;
  height: 80vh;
}

.checkout-box {
  margin: auto;
  width: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.checkout-box-content {
  margin-top: 4rem;
  width: 50vw;
  height: 60vh;
  border: 1px solid #c7c7c7;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.checkout-box-content h5 {
  color: #59B175;
  text-decoration: underline;
}

.checkout-products-box {
  width: 18vw;
  height: 40vh;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-right: 1.5rem;
}

.checkout-buttons {
  border-radius: 0.2rem;
  width: 6rem;
  color: #fff;
  background-color: #59B175;
  text-decoration: none;
  padding: 0.6rem;
  border: none;
  margin-top: 2rem;
}

.checkout-schedule-box {
  margin-top: 1.6rem;
  width: 18vw;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.checkout-input-date {
  border: 1px solid #c7c7c7;
  border-radius: 0.2rem;
  color: #428156;
}

.checkout-navigation-buttons {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.checkout-box-content h4 {
  color: #59B175;
  text-decoration: underline;
}
/* User Profile ____________________________*/

.row1 {
  background-color:  #55B27433;
  padding: 60px;
  display:flex;
  align-items: center;
  padding-left: 10rem;
}

.row2{
  min-height: 20rem;
}

.roww1-image {
  width: 8rem; /* width of container */
  height: 10rem; /* height of container */
  object-fit: cover;
}

.row1-flex {
  display: flex;
  flex-direction: row;
  padding-left: 8vw;
}

.roww1-text {
  text-align: start;
  padding-left: 4rem;
}

.roww1-text h3{
  color: #59B175;
}

/*_UserEdit_________________________*/
.useredit{
  min-height: 80vh;
  padding-top: 5vh;
}

/*_ProductDetails____________________*/

.product-details-container{
  display: flex;
  min-height: 100vh;
}

.product-details-left{
  display: flex;
  background-color: #59b17531;
  justify-content: flex-end;
}

.product-details-left img{
  display: flex;
  width: 40vw; /* width of container */
  height: 60vh; /* height of container */
  object-fit: cover;
  padding: 8vh 2rem 0 0;
}

.product-details-right{
  display: flex;
  flex-direction: column;
  padding: 8vh 0 0 2rem;
  text-align: start;
}

.product-details-right h2{
  font-size: 3rem;
  font-family: 'Karla', sans-serif;
}

.product-details-right h4{
  color: #59B175;
  font-weight: 400;
  font-family: 'Karla', sans-serif;
}

.product-details-right span{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(184, 184, 184);
}

.product-details-right span h5{
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.8rem;
  color: #858585;
}

.product-details-right button{
  width: 10rem;
  font-weight: 600;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.product-description{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.6rem;
}

  


/* Toggle */

/*  */
.product-description h5{
  margin: 0 0 0 1rem;
}

.product-description img{
  border-radius: 10rem;
  width: 2.5rem; /* width of container */
  height: 2.5rem; /* height of container */
  object-fit: cover;
}

/*_AddProduct_________________*/

.add-product-container {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

.add-product-row{
 display:flex;
 flex-direction: column;
 align-items: flex-start;
 min-height: 100vh;
}

.add-product-row h2{
  font-family: 'Karla', sans-serif;
  color: #59B175;
  font-weight: 600;
 }

.add-product-row form{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 100%;
}

 .add-product-row form div{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2vh;
  min-width: 100%;
 }

 .add-product-row form div input{
  min-width: 100%;
 }

 .add-product-row form span{
  display: flex;
  justify-content: space-between;
  min-width: 88%;
  align-items: center
 }

 .add-product-row form span button{
   padding-top:0;
   padding-bottom:0;
   height: 2.5rem;
 }

.no-padding{
  padding-top: 0;
}
